<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="./ang.js"></script>

<body ng-app="nsApp">
  <div ng-controller="controllerB">
    <center>
      <div ng-show="showVideo">
        <br><b>Few videos cannot be hacked by the system.</b><br> If you see an error, that could be it - or wrong IMG was inserted. <b>Let the video load</b>.

        <br><br>
        <video controls="" width="1920" height="1080" src="{{videoLink | trustUrl}}">
        </video>
        <noscript>Your browser does not support JavaScript, the video may not work!</noscript>

        <br><b><font size="5">Download Video: <a href="{{videoLink}}" download="video.mp4">Click Here</a> </font></b>
      </div>
      <form class="navbar-form navbar-left" nosubmit="">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="input" ng-model="bLink">
        </div>
        <button type="button" class="btn btn-primary" id="btnAdd" ng-click="getVideo()">Get</button>
      </form>
      <p>{{bLink}}</p>
      <br>
      <p>https://links.bang.com/video/155068/48/1/31126/gina-valentina-and-karlee-grey-scene-1.2160p.mp4?download=1&apiKey=undefined</p>
      <br>
      <p>https://links.bang.com/video/154598/48/1/30788/karlee-grey-scene-1.2160p.mp4?download=1&apiKey=undefined</p>
      <p>https://links.bang.com/video/154598/48/1/30788/karlee-grey-scene-1.1080p.mp4?download=1&apiKey=undefined</p>
      <p>https://links.bang.com/video/154512/48/1/30734/lena-paul-scene-1.2160p.mp4?download=1&apiKey=undefined</p>
      <p>https://links.bang.com/video/125924/45/1/25146/abella-danger-scene-1.2160p.mp4?download=1&apiKey=undefined</p>
      <p>https://links.bang.com/video/82388/33/1/14994/black-seductions-scene6.540p.mp4?download=1&apiKey=undefined</p>
      <p>https://links.bang.com/video/149712/48/1/29512/sydney-cole-scene-1.1080p.mp4?download=1&apiKey=undefined</p>
      <p>https://links.bang.com/video/125502/23/1/25196/august-ames-scene-1.2160p.mp4?download=1&apiKey=undefined</p>
      <p>https://links.bang.com/video/122230/38/1/24347/harley-jade-scene-1.1080p.mp4?download=1&apiKey=undefined</p>
    </center>
  </div>
</body>

</html>
