<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="./ang.js"></script>

<body ng-app="nsApp">
  <div ng-controller="controllerIndex">
    <center>
      <div ng-show="showVideo">
        <br><b>Few videos cannot be hacked by the system.</b><br> If you see an error, that could be it - or wrong IMG was inserted. <b>Let the video load</b>.

        <br><br>
        <video controls="" src="{{videoLink | trustUrl}}">
    </video>
        <noscript>Your browser does not support JavaScript, the video may not work!</noscript>

        <br><b><font size="5">Download Video: <a href="{{videoLink}}" download="video.mp4">Click Here</a> </font></b>
      </div>
      <form class="navbar-form navbar-left" nosubmit="">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="input" ng-model="photoLink">
        </div>
        <button type="button" class="btn btn-primary" id="btnAdd" ng-click="getVideo()">Get</button>
      </form>
      <p>{{photoLink}}</p>
      <br>
      <img src="{{photoLink}}">
      <a href="b.html">bang</a>
      <br>
      <p>
      http://newsensations.com/tour_content/content//upload/ns-abella_danger_ramon_nomar_WetterBetterAsses//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-abella_danger_ramon_nomar_MySisterHasABigRoundAss//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-abella_danger_ryan_mclane_TheProposal//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-angela_white_ramon_nomar_SexIsForLovers02//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-harley_jade_jon_jon_BBCForMe//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-harley_jade_xander_corvus_MySisterHasABigRoundAss//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-cali_carter_jordan_ash_HeCameInsideMyHotwife03//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-kalina_ryu_bruce_venture_MyAsianHotwife02//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-leah_gotti_ricky_johnson_MyBlackBrother02//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-august_ames_erik_everhard_TheCuteLittleBabysitter05_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-peta_jensen_james_deen_ILoveMyCheatingWife_1920//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-peta_jensen_logan_pierce_ILoveMyMomsBigTits02//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-molly_jane_bruce_venture_FilmedByMyBoyfriend_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-bailey_brooke_tommy_gunn_MySexyLittleStepdaughter//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-bailey_brooke_logan_pierce_TheXXXRubdown//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-bailey_brooke_tommy_gunn_MySexyLittleStepdaughter//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-adriana_chechik_4dudes_ThisIsMyFirst_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-alexa_grace_jon_jon_ABlackBullForMyHotwife//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-noelle_easton_xander_corvus_ILoveMySistersBigTits05_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-raylin_ann_karlo_karrera_IWantMySister02//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-brooke_wylde_mick_blue_TitsAndOil//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-brooke_wylde_sean_michaels_MyBlackBrother_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-aj_applegate_toni_ribas_Gushers//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-kimmy_granger_ramon_nomar_HotwifeBound//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-kimmy_granger_tyler_nixon_ICameInsideMySister04//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-lilith_lust_bruce_venture_RedheadsAreSexy05_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-anikka_albrite_james_deen_WatchingMyHotwife_1920//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-anikka_albrite_mick_blue_HallPass_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-paige_turnah_mike_adriano_PoundTheRound09_1440//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-aidra_fox_xander_corvus_TheDirtyDolls//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-aidra_fox_mick_blue_TheXXXRubdown//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-TheSubmissionOfEmmaMarx03-Exposed_sc04_penny_pax_aidra_fox_richie_calhoun//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-lana_rhodes_james_deen_HotwifeAnal//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-lana_rhodes_xander_corvus_HotModels//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-hope_harper_shane_diesel_ShaneDieselsDirtyLittleBabysitter02_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-sydney_cole_chad_white_TheInnocenceOfYouth08_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-brooklyn_chase_jovan_jordan_MyBlackBrother_1920//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-brooklyn_chase_jordan_ash_WatchingMyHotwife_1920//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/hh-brooklyn_chase_ramon_nomar_DoubleDVixens_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-karla_kush_mr_pete_Gushers//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-karla_kush_xander_corvus_MyHotwifesFirstBigCock_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-valentina_nappi_sean_michaels_MyHotwifesBlackBull02//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-jessica_rex_damon_dice_StagsAndVixens//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-jessica_rex_toni_ribas_MySexyLittleStepdaughter//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-katya_rodriguez_chad_white_CuteLittleThings04//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-katya_rodriguez_logan_long_ItsTheGirlNextDoor03//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-bridgette_b_mick_blue_MilfBound//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-megan_rain_mick_blue_WetterBetterAsses//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-megan_rain_DontTellMyBoyfriendImCheating02_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-marley_brinx_bruce_venture_DontTellMyBoyfriendImCheating03_1920//thumbs/002-00001.jpg
      <br>
      http://newsensations.com/tour_content/content//upload/ns-marley_brinx_toni_ribas_FilmedByMyBoyfriend_1920//thumbs/002-00001.jpg
      <hr>
      http://newsensations.com/tour_content/content//upload/ns-kylie_page_damon_dice_TheXXXRubdown//thumbs/002-00001.jpg
      http://newsensations.com/tour_content/content//upload/ns-kylie_page_ricky_johnson_DirtyLittleInterracialSchoolgirlStories//thumbs/002-00001.jpg
      </p>
    </center>
  </div>
</body>

</html>
